<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OutTime" value="24"/>
		<add key="Case" value="Server=10.65.81.21;Database=Case;Uid=sa;Pwd=6406098"/>
		<add key="Path" value="C://SMSLog.txt"/>
		<add key="DXConString" value ="Server=10.65.81.21;Database=DXServer;uid=sa;pwd=6406098"/>
    <add key="Message" value="您好！请您对到派出所办事时接待民警的工作进行评价。请回复数字1-5，1表示非常满意，2表示基本满意，3表示一般，4表示不满意—态度不好，5表示不满意—业务不精！谢谢。成都市公安局青羊分局"/>
	</appSettings>
</configuration>