<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->


<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="SpringOverrideProperty" type="System.Configuration.NameValueSectionHandler"/>
    <section
   name="hibernate-configuration"
   type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"
    />
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.connection_string">Data Source=.;Database=case;UID=sa;Pwd=123456;</property>

      <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider</property>
      <property name ="cache.use_second_level_cache">true</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <property name="show_sql">true</property>
      <mapping assembly="PoliceSMS.Lib"/>
    </session-factory>
  </hibernate-configuration>

  <SpringOverrideProperty>
    <add key="DbProvider.ConnectionString" value="Data Source=.;Database=case2;UID=sa;Pwd=5233750;Trusted_Connection=true"/>
    <add key="SystemInit.IsDebug" value="true"/>
    <add key="SystemInit.Level" value="4"/>
  </SpringOverrideProperty>
  <!-- Spirng.Net 配置 -->
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="assembly://PoliceSMS/PoliceSMS.Web/spring.config.xml"/>
    </context>
    <objects xmlns="http://www.springframework.net"/>
  </spring>
  <connectionStrings/>
  <appSettings>
    <add key="Telerik.Skin" value="Windows7"/>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled"/>
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled"/>
    <add key="RoleUnit" value="政治处|成都市公安局青羊区分局"/>
    <add key="DefaultMobile" value="15928892002"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="On"></customErrors>
  </system.web>


  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>

        <behavior >
          <serviceMetadata httpGetEnabled="true"  />
          <serviceDebug includeExceptionDetailInFaults="false" />

        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"  />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
